<footer class="page-footer">
    <div class="footer-content">
        <div class="footer-column">
            <p><%- t.footer.rights %></p>
        </div>
        <div class="footer-column">
            <h4><%= t.footer.more_links %></h4>
            <ul>
                <li><a href="/<%= lang %>/"><%= t.nav.youtube %></a></li>
                <li><a href="/<%= lang %>/facebook"><%= t.nav.facebook %></a></li>
                <li><a href="/<%= lang %>/instagram"><%= t.nav.instagram %></a></li>
                <li><a href="/<%= lang %>/twitter"><%= t.nav.twitter %></a></li>
                <li><a href="/<%= lang %>/tiktok"><%= t.nav.tiktok %></a></li>
                <li><a href="/<%= lang %>/terms"><%= t.footer.terms_link %></a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4><%= t.footer.languages %></h4>
            <ul class="language-links" id="languageSwitcher">
                <li><a href="/ru/" data-lang="ru">Русский</a></li>
                <li><a href="/en/" data-lang="en">English</a></li>
                <li><a href="/es/" data-lang="es">Español</a></li>
                <li><a href="/de/" data-lang="de">Deutsch</a></li>
            </ul>
        </div>
    </div>
</footer>