<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CV9FG64KMP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CV9FG64KMP');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="description" content="<%= t.description %>">
    <title><%= serviceName %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.9/iframeResizer.min.js"></script>
</head>
<body>
    <%- include('partials/navbar', { t: t, lang: lang }) %>
    <div class="hero-section">
        <h1><%= serviceName %></h1>
        <div class="download-section">
            <form class="url-form" id="urlForm">
                <input type="url" id="urlInput" placeholder="<%= t.hero.placeholder %>" required>
                <div class="button-group">
                    <button type="submit" id="downloadButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-to-line"><path d="M12 17V3"/><path d="m6 11 6 6 6-6"/><path d="M19 21H5"/></svg>
                        <%= t.hero.button %>
                    </button>
                </div>
            </form>
            <p style="padding: 0 8px; color: #e0e7ff;"><%- t.hero.terms %></p>
    
            <div class="content-container">
                <iframe id="cardApiIframe" src="about:blank"></iframe>
            </div>
        </div>
    </div>

    <div class="app-container">
        <%- include('partials/how-it-works', { t: t, lang: lang }) %>
        <%- include('partials/features', { t: t, lang: lang }) %>
        <%- include('partials/faq', { t: t, lang: lang }) %>
    </div>

    <%- include('partials/footer', { t: t, lang: lang }) %>
    <script src="/main.js"></script>
</body>
</html>